body {
    background-image: url(..//images/backgrounds/brain.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero section */
.hero-section {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 10px;
    padding: 100px;
    /* margin-right: 25px; */
    font-family: "Ubuntu Condensed", sans-serif;
    color: lightgrey;
    font-size: 2em;
    text-align: center;
}

.hero-section > .left > .left-heading  {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.5em;
    margin-top: 100px;
    background-color: whitesmoke;
    opacity: 90%;
    /* margin-left: 18vw; */
    color: black;
}

.left-body-1 {
    margin-top: 25px;
    margin-bottom: 60px;
}

.left-body-2 {
    margin-bottom: 60px;
}

/* .left-body-3 {
    margin-left: 28vw;
} */

.hero-section > .right > .right-heading  {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.5em;
    margin-top: 100px;
    background-color: black;
    color: whitesmoke;
}

.right-body-1 {
margin-top: 25px;
margin-bottom: 60px;
}

.right-body-2 {
    margin-bottom: 60px;
}

/* .right-body-3 {
    text-align: center;
} */

